* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    transition: 150ms;
}

body {
       background: #121212

}

tooper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 150px;
      
}

h1 {
    text-align: center;
    font-size: 75px;
    color: rgb(238, 241, 244)
}



.article {
    text-align: center;
    padding: 0 10vw;
    color: #292929;
    font-size: 25px ;
    
}

navigation img {
    width: 50vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

navigation p {
    text-align: center;
    color: #292929;
    font-size: 15px ;
    
} 

#totalPrice {
    text-align: center;
    color: #292929;
    font-size: 15px ;
}

.back {
    width: 25vw;
}

button {
    padding: 0 10px;
    height: auto;
    width: auto;
    cursor: pointer;
    font-size: 20px;
    background: #EC1622;
    border-radius: 10px;
    border-width:  0;
    display: flex;
    margin: auto;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0;
}

.select{
    opacity: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: #252729;
    border-width: 0;

}

.opacity{
    opacity: 0;
}
